@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
    --font-chilanka: "Chilanka";
    --font-roboto: "Roboto Variable";
    --font-quicksand: "Quicksand Variable"
}

.p-component,
.p-button,
.p-inputtext,
.p-dropdown,
.p-menu,
.p-datatable,
.p-dialog,
.p-tabview,
.p-card,
.p-fieldset,
.p-menuitem-text,
.p-dialog-title,
.p-dialog-title {
    font-family: inherit !important;
}